@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Thin.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-UltraLight.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-UltraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Light.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Regular.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Medium.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-DemiBold.woff2') format('woff'),
        url('../fonts/IRANSansXFaNum-DemiBold.woff22') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Bold.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-ExtraBold.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansXFaNum-Black.woff') format('woff'),
        url('../fonts/IRANSansXFaNum-Black.woff2') format('woff2');
    font-weight: 900;
}

body {
    background: linear-gradient(to bottom, #d0e9ff4a, #f1f1f1);
}

* {
    font-family: 'iransans';
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}


@media screen and (max-width: 575.98px) {

    #toastContainer {
        margin: 0 !important;
        left: 0;
        width: 100vw !important;
    }

    .toast {
        border-radius: 0 !important;
    }
}

.authForm {
    display: flex;
    min-width: 309px;
    min-height: 266px;
}

#VerifyOtpForm,
#ُVerifyPasswordForm,
#ُForgetPasswordForm,
#VerifyPasswordForm,
#SetEmailForm
{
    display: none;
}

.btn:hover {
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.px-6 {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
}

.py-6 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.px-7 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.py-7 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}